/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

h1,h2,h3,h4,h5,h6,a,p {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
body {
  background-color: #0d0905;
  color: white;
  font-family: sans-serif;
}

.toggle-number{
  color: #0d0905;
}

header,
footer {
  padding: 32px;
}

ul {
  font-size: 1.25rem;
  font-weight: normal;
  margin-left: 32px;
}

li {
  margin-bottom: 16px;
}

a {
  color: antiquewhite;
}

a:hover {
  color: aquamarine;
}

.header-top {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: gold 1px solid;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.container {
  max-width: 1024px;
  padding: 16px 32px;
  border: 1px solid white;
  margin: 0 auto;
}

.icon-small {
  color: white;
  height: 32px;
  width: 32px;
}

.icon-button {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.text-yellow {
  color: gold;
}

.sub-heading {
  letter-spacing: 4px;
}

.content-container {
  font-size: 64px;
  font-weight: 900;
}

.toggle-text{
  cursor:pointer;
}

.circle-number {
  height: 108px;
  width: 108px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 32px;
  font-size: larger;
}

.circle-red {
  background-color: #eb3c3f;
}

.circle-blue {
  background-color: #115c98;
}
.circle-purple {
  background-color: #a5439a;
}
.circle-yellow {
  background-color: #ffce0c;
}
.circle-green{
  background-color: #00ab4f;
}
.video{
  display: block;
  margin: 16px auto;
  border-radius: 16px;
  
}

.lm-panel {
  
  border-top: 0px solid gold;
  margin: 0px 16px;
  padding: 0px 16px;
  overflow: hidden;
  transition: .5s ease-in-out;
  max-height: 0;
  
}


.toggle-wrap {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px 16px 0px 16px;
  border-bottom: 4px solid gold;
  border-left: 4px solid gold;
  border-right: 4px solid gold;
  padding: 16px;
}

.toggle-border{
    display: -webkit-box;
    
      display: -ms-flexbox;
    
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0px 16px 0px 16px;
      border-bottom: 0px solid gold;
      border-left: 4px solid gold;
      border-right: 4px solid gold;
      padding: 16px;
}

.toggle-text {
  margin-top: 8px;
  font-weight: 900;
  font-size: larger;
}

.toggle-button {
  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  transition: .4s;
}

footer {
  color: grey;
  font-weight: 900;
  text-align: center;
}

.hide {
  display: none;
}
